.search-block {
  position: relative;
  width: 100%;
  height: 80px;
  margin-top: -10px;
  border-right: 2px solid rgba(10, 10, 10, 0.1);
  background: #fff;
  transition: all 0.3s ease
}

.search-block.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15)
}

.search-label {
  position: absolute;
  top: 15px;
  left: 10px;
  color: #5a6674;
  z-index: 999
}

.search-input {
  position: absolute;
  top: 40px;
  left: 10px;
  padding-bottom: 5px;
  font-size: 1.5em;
  background: none;
  color: #5a6674;
  width: 90%;
  height: 30px;
  border: none;
  appearance: none;
  outline: none
}
