<footer class="footer">
  <div class="container has-text-centered">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="level">
          <a class="level-item" href="{{ url_for('about') }}">About</a>
          <a class="level-item" href="{{ url_for('contact') }}">Contact</a>
          <a class="level-item" href="{{ url_for('privacy') }}">Privacy</a>
          <a class="level-item" href="{{ url_for('credits') }}">Credits</a>
        </div>
      </div>
    </div>
    <hr>
    <p class="subtitle is-6">© <script>document.write(new Date().getFullYear())</script> Actuent. All rights reserved.</p>
  </div>
</footer>
