<head>
  <title>Actuent | {{page_name}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta property="og:title" content="Actuent | {{page_name}}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ url_for('static', filename= 'img/open_graph.jpg') }}" />
<meta property="og:url" content="http://www.actuent.io" />
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bulma/bulma.min.css') }}">
  <meta property="og:description" content="Actuent is niche job board dedicated to students and recent college graduates who want find entry level jobs that are true to the name." />
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bulma/bulma-tooltip.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bulma/bulma-fab-button.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/pagination.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/background.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/search-box/search-box.css') }}">
  <link rel="icon" href="favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
  <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
</head>
