<div class="container landing-container">
  <form action="/" method="post">
    <div class="columns search-box">
      <div class="column is-6">
        <div class="search-block box">
          <label class="search-label label">
            <span>Keywords</span>
          </label>
          <input class="search-input home-input is-size-7-mobile" placeholder="role, job title, etc." id="jobtitle" name="jobtitle">
        </div>
      </div>
      <div class="column is-4">
        <div class="search-block box">
          <label class="search-label label">
            <span>Where</span>
          </label>
          <input class="search-input home-input is-size-7-mobile" placeholder="city, state" id="location" name="location">
        </div>
      </div>

      <div class="column is-2">
        <input class="button is-link is-light is-large search-button is-size-7-mobile" type="submit" value="Search">
      </div>

    </div>
  </form>
</div>
