doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
        script(src="js/main.js")
    body
        .container.is-fluid


            nav.navbar
                .container
                    .navbar-brand
                        a.navbar-item
                            | Actuent
                        span.navbar-burger.burger(data-target="navbarMenuHeroA")
                            span
                            span
                            span
                    #navbarMenuHeroA.navbar-menu
                        .navbar-end
                            a.navbar-item.is-active
                                | How It Works


            section.hero.is-fullheight-with-navbar
                .hero-body
                    .container.has-text-centered.py-4
                        h1.title.is-1.is-spaced Credits
                        h2.title Technical Credits
                        h2.title Key References


            footer.footer
                .container.has-text-centered
                    .columns.is-centered
                        .column.is-8
                            .level
                                a.level-item(href="#") About
                                a.level-item(href="#") Contact
                                a.level-item(href="#") Privacy
                                a.level-item(href="#") Credits
                    hr
                    p.subtitle.is-6 &copy; 2020 Actuent. All rights reserved.
