<!DOCTYPE html>
<html lang="en">
<head>
  <title>Actuent | About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bulma/bulma.min.css') }}">
  <link rel="icon" href="favicon.ico">
  <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
</head>
  <body>
    <div class="container is-fluid">

      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              Actuent.io
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active" href="{{ url_for('howitworks') }}">
                How It Works
              </a>
            </div>
          </div>
        </div>
      </nav>

      <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
          <div class="container has-text-centered py-4">
            <h1 class="title is-1 is-spaced">About</h1>
            <h2 class="subtitle">Actuent is niche job board dedicated to students and recent college graduates who want find entry level jobs that are true to the name. We use natural language processing to analyze job descriptions provided by our partner, <a>talent.com</a>, to find jobs without an experience or graduate level educational requirement. Meet our founders!</h2>

            <div class="columns">
              <div class="column">
                <figure class="image container is-128x128">
                  <img class="is rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2">
                </figure>
              <p>Orton</p>
              <p><a>@ortonbabb</a></p>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta velit id augue convallis porta at vitae nisi."</p>
              </div>
              <div class="column">
                <figure class="image container is-128x128">
                  <img class="is rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2">
                </figure>
              <p>Andrew</p>
              <p><a>@AndrewHornstra</a></p>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta velit id augue convallis porta at vitae nisi."</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer">
        <div class="container has-text-centered">
          <div class="columns is-centered">
            <div class="column is-8">
              <div class="level"><a class="level-item" href="/about/">About</a><a class="level-item" href="/contact/">Contact</a><a class="level-item" href="/privacy/">Privacy</a><a class="level-item" href="/credits/">Credits</a></div>
            </div>
          </div>
          <hr>
          <p class="subtitle is-6">© 2020 Actuent. All rights reserved.</p>
        </div>
      </footer>
    </div>
  </body>
</html>
