<!DOCTYPE html>
<html lang="en">
<head>
  <title>Actuent | Contact</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bulma/bulma.min.css') }}">
  <link rel="icon" href="favicon.ico">
  <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
</head>
  <body>
    <div class="container is-fluid">

      {% include '_includes/header.html' %}


      <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
          <div class="container has-text-centered py-4">
            <h1 class="title is-1 is-spaced">Contact</h1>
            <h2 class="subtitle">Please reach out to us for (reasons).</h2>

            <div class="container py-4">
              <div class="columns is-centered">
                <div class="column is-8">
                  <form>
                    <div class="field is-grouped">
                      <div class="control is-expanded">
                        <input class="input" type="email" placeholder="Name">
                      </div>
                      <div class="control is-expanded">
                        <input class="input" type="email" placeholder="Email">
                      </div>
                    </div>
                    <div class="field mb-6">
                      <div class="control"><textarea class="textarea" rows="5" placeholder="Write something..."></textarea></div>
                    </div>
                    <div class="field my-5">
                      <div class="control has-text-centered">
                        <button class="button is-link" type="submit">Submit</button>
                      </div>
                    </div>
                    <div class="field has-text-centered">
                      <p>Or just email us on</p>
                      <a href="#">contact@actuent.io</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% include '_includes/footer.html' %}

    </div>
  </body>
</html>
