<!DOCTYPE html>
<html lang="en">

{% with page_name='Credits' %}
    {% include '_includes/head.html' %}
{% endwith %}

  <body>
    <div class="container is-fluid">

      {% include '_includes/nav.html' %}

      <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
          <div class="container has-text-centered py-4">
            <h1 class="title is-1 is-spaced">Credits</h1>
            <!-- <h2 class="title ">Technical Credits</h2> -->
            <img
              src="https://bulma.io/images/made-with-bulma--black.png"
              alt="Made with Bulma"
              width="256"
              height="48">
            <p>
              Hosted on
              <a href=https://www.heroku.com target="_blank">Heroku</a>
            </p>
            <p>
              Jobs listings from
              <a href=https://talent.com target="_blank">Talent.com</a>
            </p>
            <p>
              Built with
              <a href=https://flask.palletsprojects.com/ target="_blank">Flask</a>
            </p>
            <!-- <h2 class="title ">Key References</h2> -->
          </div>
        </div>
      </section>

      {% include '_includes/footer.html' %}

    </div>
  </body>
</html>
