<!DOCTYPE html>
<html lang="en">
<head>
  <title>Actual Entry | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bulma/bulma.min.css') }}">
  <link rel="icon" href="favicon.ico">
  <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
</head>
  <body>
    <div class="container is-fluid">

      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              Actuent
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active">
                How It Works
              </a>
            </div>
          </div>
        </div>
      </nav>

      <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
          <div class="container has-text-centered py-4">
            <h1 class="title is-1 is-spaced">How It Works</h1>
            <div class="container py-4">
              <div class="columns mb-6">
                <div class="column">
                  <div class="media">
                    <div class="media-left"><figure class="image is-64x64"><img src="https://bulma.dev/placeholder/pictures/image.svg?primary=00d1b2" alt=""></figure></div>
                    <div class="media-content">
                      <div class="content">
                        <h2 class="title is-1">1</h2>
                      </div>
                    </div>
                  </div>
                  <h4 class="title is-4">You Search</h4>
                  <p>(Describe searches)</p>
                </div>
                <div class="column">
                  <div class="media">
                    <div class="media-left"><figure class="image is-64x64"><img src="https://bulma.dev/placeholder/pictures/image.svg?primary=00d1b2" alt=""></figure></div>
                    <div class="media-content">
                      <div class="content">
                        <h2 class="title is-1">2</h2>
                      </div>
                    </div>
                  </div>
                  <h4 class="title is-4">We Find and Filter Jobs</h4>
                  <p>(Brief summary of how our algorithms work)</p>
                </div>
                <div class="column">
                  <div class="media">
                    <div class="media-left"><figure class="image is-64x64"><img src="https://bulma.dev/placeholder/pictures/image.svg?primary=00d1b2" alt=""></figure></div>
                    <div class="media-content">
                      <div class="content">
                        <h2 class="title is-1">3</h2>
                      </div>
                    </div>
                  </div>
                  <h4 class="title is-4">Deliver Results to You</h4>
                  <p>(How results direct through our partner and go to job posts)</p>
                </div>
              </div>
              <div class="buttons is-centered"><a class="button is-primary" href="#">Read Our Whitepaper</a></div>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer">
        <div class="container has-text-centered">
          <div class="columns is-centered">
            <div class="column is-8">
              <div class="level"><a class="level-item" href="/about/">About</a><a class="level-item" href="/contact/">Contact</a><a class="level-item" href="/privacy/">Privacy</a><a class="level-item" href="/credits/">Credits</a></div>
            </div>
          </div>
          <hr>
          <p class="subtitle is-6">© 2020 Actual Entry. All rights reserved.</p>
        </div>
      </footer>
    </div>
  </body>
</html>
