<!DOCTYPE html>
<html lang="en">
{% with page_name='Home' %}
{% include '_includes/head.html' %}
{% endwith %}
<body>
  <div class="container is-fluid">

    {% include '_includes/nav.html' %}

    <section class="hero is-fullheight-with-navbar">

      <div class="hero-body">
        <img alt="steps" class="hero-background is-transparent" src="https://images.unsplash.com/photo-1448318440207-ef1893eb8ac0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1363&q=80" />
        <div class="container has-text-centered py-4">
          <h1 class="title is-1 is-spaced">Find jobs that are actually entry-level</h1>
          <h2 class="subtitle">Search our rated listings</h2>
          <div class="container landing-container">
            <form action="/" method="post">
              <div class="columns is-mobile box search-box">

                <div class="column is-6 is-paddingless">
                  <div class="search-block">
                    <label class="search-label label">
                      <span>Keywords</span>
                    </label>
                    <input class="search-input home-input is-size-7-mobile" placeholder="role, job title, etc." id="jobtitle" name="jobtitle">
                  </div>
                </div>
                <div class="column is-4 is-paddingless">
                  <div class="search-block">
                    <label class="search-label label">
                      <span>Where</span>
                    </label>
                    <input class="search-input home-input is-size-7-mobile" placeholder="city, state" id="location" name="location">
                  </div>
                </div>

                <div class="column is-2 is-paddingless">
                  <input class="button is-link is-light is-large search-button is-size-7-mobile" type="submit" value="Search">
                </div>

              </div>
            </form>
          </div>
          </div>
        </div>
        <!-- <a href="javascript:void(0)" onClick="return actuent_favorite(this);" class="button is-floating is-light is-link"> -->
  <!-- <i class="fas fa-shopping-cart"></i> -->
  <!-- &#9734; -->
<!-- </a> -->
        <!--<div class="container landing-container">
           <div class="field is-horizontal">
            <div class="field-label">
              <label class="label"></label>
            </div>
              <div class="field-body">
                <div class="field is-expanded">
                  <p class="control">
                    <input class="input is-large" type="text" placeholder="role, job title, etc.">
                  </p>
                </div>
                <div class="field is-expanded">
                  <p class="control">
                    <input class="input is-large" type="text" placeholder="city, state">
                  </p>
                </div>
                <div class="field is-expanded">
                  <p class="control">
                    <a class="button is-large is-link is-light">
                      Search
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div> -->
</div>

</section>

{% include '_includes/footer.html' %}

</div>
</body>
</html>
