<!DOCTYPE html>
<html lang="en">
{% with page_name='Home' %}
{% include '_includes/head.html' %}
{% endwith %}
<body>
  <div class="container is-fluid">

    {% include '_includes/nav.html' %}

    <section class="hero is-fullheight-with-navbar">
      <div class="hero-body">
        <div class="container has-text-centered py-4">
          <h1 class="title is-1 is-spaced">Find jobs that are actually entry-level</h1>
          <h2 class="subtitle">Search our rated listings</h2>
          {% include '_includes/search-bar.html'%}
          </div>
        </div>
        <!-- <a href="javascript:void(0)" onClick="return actuent_favorite(this);" class="button is-floating is-light is-link"> -->
  <!-- <i class="fas fa-shopping-cart"></i> -->
  <!-- &#9734; -->
<!-- </a> -->
        <!--<div class="container landing-container">
           <div class="field is-horizontal">
            <div class="field-label">
              <label class="label"></label>
            </div>
              <div class="field-body">
                <div class="field is-expanded">
                  <p class="control">
                    <input class="input is-large" type="text" placeholder="role, job title, etc.">
                  </p>
                </div>
                <div class="field is-expanded">
                  <p class="control">
                    <input class="input is-large" type="text" placeholder="city, state">
                  </p>
                </div>
                <div class="field is-expanded">
                  <p class="control">
                    <a class="button is-large is-link is-light">
                      Search
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div> -->
</div>

</section>

{% include '_includes/footer.html' %}

</div>
</body>
</html>
