<!DOCTYPE html>
<html lang="en">
<head>
  <title>Actuent | Privacy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bulma/bulma.min.css') }}">
  <link rel="icon" href="favicon.ico">
  <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
</head>
  <body>
    <div class="container is-fluid">

      {% include '_includes/header.html' %}


      <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
          <div class="container has-text-centered py-4">
            <h1 class="title is-1 is-spaced">Privacy</h1>
            <div class="container">
              <div class="columns is-multiline">
                <div class="column is-6">
                  <h4 class="title is-spaced is-4">Cookies</h4>
                  <p class="subtitle is-6">(Cookies description)</p>
                </div>
                <div class="column is-6">
                  <h4 class="title is-spaced is-4">HTML Storage</h4>
                  <p class="subtitle is-6">(HTML Storage description)</p>
                </div>
                <div class="column is-6">
                  <h4 class="title is-spaced is-4">User Info</h4>
                  <p class="subtitle is-6">(User info description)</p>
                </div>
                <div class="column is-6">
                  <h4 class="title is-spaced is-4">Server Logs</h4>
                  <p class="subtitle is-6">(Server log description)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% include '_includes/footer.html' %}

    </div>
  </body>
</html>
