<!DOCTYPE html>
<html lang="en">
<head>
  <title>Actual Entry | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bulma/bulma.min.css') }}">
  <link rel="icon" href="favicon.ico">
  <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
</head>
  <body>
    <div class="container is-fluid">

      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              Actuent
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active">
                How It Works
              </a>
            </div>
          </div>
        </div>
      </nav>

      <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
          <div class="container has-text-centered py-4">
            <h1 class="title is-1 is-spaced">Privacy</h1>
            <div class="container">
              <div class="columns is-multiline">
                <div class="column is-6">
                  <h4 class="title is-spaced is-4">Cookies</h4>
                  <p class="subtitle is-6">(Cookies description)</p>
                </div>
                <div class="column is-6">
                  <h4 class="title is-spaced is-4">HTML Storage</h4>
                  <p class="subtitle is-6">(HTML Storage description)</p>
                </div>
                <div class="column is-6">
                  <h4 class="title is-spaced is-4">User Info</h4>
                  <p class="subtitle is-6">(User info description)</p>
                </div>
                <div class="column is-6">
                  <h4 class="title is-spaced is-4">Server Logs</h4>
                  <p class="subtitle is-6">(Server log description)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer">
        <div class="container has-text-centered">
          <div class="columns is-centered">
            <div class="column is-8">
              <div class="level"><a class="level-item" href="/about/">About</a><a class="level-item" href="/contact/">Contact</a><a class="level-item" href="/privacy/">Privacy</a><a class="level-item" href="/credits/">Credits</a></div>
            </div>
          </div>
          <hr>
          <p class="subtitle is-6">© 2020 Actual Entry. All rights reserved.</p>
        </div>
      </footer>
    </div>
  </body>
</html>
