<!DOCTYPE html>
<html lang="en">
{% with page_name='Search' %}
    {% include '_includes/head.html' %}
{% endwith %}
  <body>
    <div class="container is-fluid">

      {% include '_includes/nav.html' %}

      <section class="hero is-fullheight-with-navbar">
        <div class="hero-head">
          <div class="container has-text-centered py-4">
            <div class="container landing-container">
              <form action="/" method="post">
              <div class="columns is-mobile box search-box">

                <div class="column is-6 is-paddingless">
                  <div class="search-block">
                    <label class="search-label label">
                      <span>Keywords</span>
                    </label>
                    <input class="search-input home-input is-size-7-mobile" placeholder="role, job title, etc." id="jobtitle" name="jobtitle">
                  </div>
                </div>
                <div class="column is-4 is-paddingless">
                  <div class="search-block">
                    <label class="search-label label">
                      <span>Where</span>
                    </label>
                    <input class="search-input home-input is-size-7-mobile" placeholder="city, state" id="location" name="location">
                  </div>
                </div>

                <div class="column is-2 is-paddingless">
                  <input class="button is-link is-light is-large search-button is-size-7-mobile" type="submit" value="Search">
                </div>

              </div>
              </form>
          </div>
        </div>
          <!-- <nav>
            <div class="container">
              <div class="navbar-menu">
                <div class="navbar-start">
                  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Citizenship Status</a>
                    <div class="navbar-dropdown"><a class="navbar-item navbar-item-dropdown" href="#">Exclude "US Citizen Only"</a><a class="navbar-item navbar-item-dropdown" href="#">Visa Sponsorship</a></div>
                  </div>
                  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Clearance Requirements</a>
                    <div class="navbar-dropdown"><a class="navbar-item navbar-item-dropdown" href="#">Exclude Clearance</a></div>
                  </div>
                </div>
                <div class="navbar-end">
                  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Country</a>
                    <div class="navbar-dropdown"><a class="navbar-item navbar-item-dropdown" href="#">USA 🇺🇸</a><a class="navbar-item navbar-item-dropdown" href="#">Canada 🇨🇦</a></div>
                  </div>
                </div>
              </div>
            </div>
          </nav> -->
        </div>

        <div class="hero-body">
          <div class="container has-text-centered py-4">
            <div class="columns is-centered">
              <div class="column is-8 is-paddingless">

                <p class="has-text-left is-italic has-text-grey-light">{{numjobs}} {{jobtitle}} jobs in {{location}}</p>

                {% for job in jobs %}

                <div class="media py-5">
                  <div class="media-left"><figure class="image is-64x64"><img class="is-rounded" src="{{job.logo}}" alt=""></figure></div>
                  <div class="media-content">
                    <h6 class="title is-6"><a href="{{job.url}}">{{job.jobtitle}}</a> at {{job.company}} ({{job.city}}, {{job.state}})</h6>
                    <p class="block">{{job.description_preview}}</p>
                    {% if job.AELScore == 0%}
                        <a class="button is-small is-success is-light">AEL {{job.AELScore}}</a>
                    {% elif job.AELScore == 1 %}
                        <a class="button is-small is-warning is-light">AEL {{job.AELScore}}</a>
                    {% elif job.AELScore > 1 %}
                        <a class="button is-small is-danger is-light">AEL {{job.AELScore}}</a>
                    {% endif %}
                    {% if job.clearance_check %}
                      <a class="button is-small">Clearance required</a>
                    {% endif %}
                  </div>
                </div>

                {% endfor %}

              </div>
            </div>
          </div>

        </div>

        <!-- <div class="hero-foot">
          <nav>
            <div class="container">
              <div class="pagination is-centered" role="navigation" aria-label="pagination">
                <a class="pagination-previous">Previous</a><a class="pagination-next">Next page</a>
                <ul class="pagination-list">
                  <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                  <li><span class="pagination-ellipsis">…</span></li>
                  <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                  <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                  <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                  <li><span class="pagination-ellipsis">…</span></li>
                  <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div> -->
      </section>

      <section class="hero">
        <div class="hero-body">
          <hr class="my-6">
          <div class="container has-text-centered pt-4">
            <h1 class="title is-spaced">Bringing Tailored Job Search Tools to Students and Recent Grads</h1>
            <h2 class="subtitle">We're creating new smart filters to help find entry-level jobs faster.</h2>
            <div class="buttons is-centered"><a class="button is-light" href="../howitworks">Read More</a></div>
          </div>
          <!-- <hr class="my-6">
          <div class="columns has-text-centered">
            <div class="column is-4">
              <img src="{{ url_for('static', filename= 'placeholder/icons/check.svg') }}" alt="">
              <h4 class="title is-4">Entry-Level</h4>
              <p>We do our best to find jobs without experience requirements.</p>
            </div>
            <div class="column is-4">
              <img src="{{ url_for('static', filename= 'placeholder/icons/check.svg') }}" alt="">
              <h4 class="title is-4">Citizenship Requirement Aware</h4>
              <p>We check whether non-citizen residents are eligible.</p>
            </div>
            <div class="column is-4">
              <img src="{{ url_for('static', filename= 'placeholder/icons/check.svg') }}" alt="">
              <h4 class="title is-4">Clearance Requirement Aware</h4>
              <p>We check if the job requires a security clearance.</p>
            </div>
          </div>
        </div> -->
      </section>

      {% include '_includes/footer.html' %}

    </div>
  </body>
</html>
